$success-color: #52C41A;
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$primary-color: #1890FF;
$background-app: #EBEEF3;
$heading-color: rgba(0, 0, 0, 0.85);
$background-color-base: #FFFFFF;
$btn-primary-color: #FFFFFF;
$filter-base: 0px 4px 12px rgba(0, 0, 0, 0.15);