$success-color: #52c41a;
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$primary-color: #1890ff;
$background-app: #ebeef3;
$heading-color: rgba(0, 0, 0, 0.85);
$background-color-base: #ffffff;
$btn-primary-color: #ffffff;
$filter-base: 0px 4px 12px rgba(0, 0, 0, 0.15);
