@import './../../sass/fonts.scss';
@import './../../sass/constants.scss';

.post {
  filter: $filter-base;
  background: $background-color-base;
  padding: 15px 14px 24px;
  overflow: hidden;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__info-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 15px;
    overflow: hidden;
  }

  &__header-top {
    display: flex;
    align-items: baseline;
    margin-bottom: 4px;
  }

  &__title {
    font-weight: $font-weight-regular;
    font-size: $font-size-text-l;
    line-height: $line-height-xl;
    color: $brand-color;
    margin: 0;
  }

  &__link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration 0.4s;

    &:hover {
      text-decoration-color: $brand-color;
      text-decoration: underline;
    }

    &:focus {
      text-decoration-color: $brand-color;
      text-decoration: underline;
    }
  }

  &__content {
    margin-top: 16px;
  }

  &__text {
    font-weight: $font-weight-regular;
    font-size: $font-size-text-xxs;
    line-height: $line-height-s;
    color: $text-color-primary;
    margin: 0;
    max-width: 682px;
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__body {
    margin-top: 25px;

    & > * {
      font-family: $font-family-primary;
    }
  }

  &__btns {
    display: flex;
    margin-left: 10px;
  }

  &__button {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn-like {
    margin-left: 13px;
  }

  &__tags {
    flex-basis: 100%;
  }

  &__info {
    margin-right: 12px;
  }

  &__author {
    font-size: $font-size-text-m;
    line-height: $line-height-xl;
    color: $heading-color;
    margin: 0;
  }

  &__date {
    font-size: $font-size-text-xxs;
    line-height: $line-height-s;
    color: $text-color-secondary;
    margin: 0;
  }

  &__avatar {
    width: 46px;
    height: 46px;
  }
}

.btn-like {
  border: 0;
  text-align: center;
  font-weight: $font-weight-regular;
  font-size: $font-size-text-xxs;
  line-height: $line-height-s;
  color: $text-color-primary;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: $background-color-base;

  &__text {
    margin-left: 5px;
  }
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border: 1px solid $text-color-secondary;
    box-sizing: border-box;
    border-radius: $border-radius-tag;
    font-size: $font-size-text-xxs;
    line-height: $line-height-xxs;
    color: $text-color-secondary;
    padding: 2px 6px;
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
