@import './../../sass/fonts.scss';
@import './../../sass/constants.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-regular;
  margin: 0;
}

.app {
  background: $background-color-app;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 13px;
    margin-bottom: 26px;
  }

  &__content {
    padding: 0 22px 20px;
    max-width: $width-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
  }
}

.btn-submit {
  border-radius: $border-radius-btn-submit;
  background: $brand-color;
  color: $btn-primary-color;
  font-family: $font-family-secondary;
  padding: 8px 20px;
  display: inline-block;
  transition: opacity 0.4s;
  font-size: $font-size-text-s;
  line-height: $line-height-m;
  cursor: pointer;
  border: 0;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.button {
  font-weight: $font-weight-regular;
  cursor: pointer;
  border-radius: $border-radius-btn;
  font-family: $font-family-primary;
  transition: color 0.4s, background 0.4s;

  &--size-l {
    font-size: $font-size-text-m;
    line-height: $line-height-xl;
    padding: 7px 18px;
  }

  &--size-m {
    font-size: $font-size-text-s;
    line-height: $line-height-m;
    padding: 8px 38px;
  }

  &--size-s {
    font-size: $font-size-text-xs;
    line-height: $line-height-s;
    padding: 6px 15px;
  }

  &--success {
    color: $success-color;
    border: 1px solid $success-color;
    background: $background-color-base;

    &:hover {
      background: $success-color;
      color: $btn-primary-color;
    }
  }

  &--error {
    color: $error-color;
    border: 1px solid $error-color;
    background: $background-color-base;

    &:hover {
      color: $btn-primary-color;
      background: $error-color;
    }
  }

  &--info {
    color: $brand-color;
    border: 1px solid $brand-color;
    background: $background-color-base;

    &:hover {
      color: $btn-primary-color;
      background: $brand-color;
    }
  }

  &--unbordered {
    border: 0;
    color: $heading-color;
    padding: 0;
    background: transparent;

    &:hover {
      color: $success-color;
    }
  }

  &--neutral {
    color: $text-color-primary;
    border: 1px solid $text-color-primary;
    background: $background-color-base;

    &:hover {
      color: $btn-primary-color;
      background: $text-color-secondary;
    }
  }
}

.label {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-text-xs;
  line-height: $line-height-s;
  color: $text-color-third;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-text-s;
  line-height: $line-height-m;
  color: $text-color-primary;
  background: $background-color-base;
  border: 1px solid $border-color-base;
  border-radius: $border-radius-input;

  &--error {
    border: 1px solid $error-color;
  }

  &:invalid {
    border: 1px solid $error-color;
  }

  &::placeholder {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-text-s;
    line-height: $line-height-m;
    color: $placeholder-color-base;
  }

  &:focus {
    outline: none;
    border: 1px solid $brand-color;
  }
}

.textarea {
  resize: none;
  height: 168px;
}

.error {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-text-xs;
  line-height: $line-height-s;
  color: $error-color;
  margin-top: 2px;
}

@media screen and (max-width: 480px) {
  .app {
    &__content {
      padding: 0;
    }
  }
}
