@import './../../sass/fonts.scss';
@import './../../sass/constants.scss';

.modal {
  background: $background-color-base;
  border: 1px solid $border-color-base;
  box-shadow: $box-shadow-modal;
  border-radius: $border-radius-modal;
  width: 100%;

  &--size-l {
    max-width: $width-modal-l;
  }

  &--size-s {
    max-width: $width-modal-s;
  }

  &__content {
    padding: 48px 32px;
  }

  &__header {
    margin-bottom: 21px;
  }

  &__title {
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    font-size: $font-size-text-l;
    line-height: $line-height-xl;
    text-align: center;
    color: $text-color-third;
  }
}

.form {
  &__group {
    margin-bottom: 12px;
  }

  &__checkbox {
    padding-top: 9px;
    border-top: 1px solid #e8e8e8;

    & > * {
      font-family: $font-family-secondary;
      font-weight: $font-weight-regular;
      font-size: $font-size-text-xs;
      line-height: $line-height-s;
      color: $form-secondary-color-text;
    }
  }

  &__btn-submit {
    width: 100%;
    margin-top: 21px;
    margin-bottom: 8px;
  }

  &__text {
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-text-xxs;
    line-height: $line-height-xs;
    text-align: center;
    color: $form-primary-color-text;
    margin: 0;
  }

  &__link {
    color: $brand-color;
    transition: text-decoration 0.4s;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 460px) {
  .modal {
    width: 100%;
  }
}
