@import './../../sass/fonts.scss';
@import './../../sass/constants.scss';

.modal {
  background: $background-color-base;
  border: 1px solid $border-color-base;
  box-shadow: $box-shadow-modal;
  border-radius: 6px;
  width: 100%;

  &--size-l {
    max-width: 938px;
  }

  &--size-s {
    max-width: 384px;
  }

  &__content {
    padding: 48px 32px;
  }

  &__header {
    margin-bottom: 21px;
  }

  &__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $text-secondary-color;
  }
}

.form {
  &__group {
    margin-bottom: 12px;
  }

  &__checkbox {
    padding-top: 9px;
    border-top: 1px solid #e8e8e8;

    & > * {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #595959;
    }
  }

  &__submit {
    width: 100%;
    font-family: Roboto;
    margin-top: 21px;
    margin-bottom: 8px;
    background: $primary-color;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $btn-primary-color;
    border: 0;
    height: 40px;
    padding: 0 15px;
    position: relative;
    cursor: pointer;

    &:disabled {
      opacity: 0.7;
    }

    & .ant_spin_spinning {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #8c8c8c;
    margin: 0;
  }

  &__link {
    color: $primary-color;
  }
}

.label {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $text-secondary-color;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  background: $background-color-base;
  border: 1px solid $border-color-base;
  border-radius: 4px;

  &--error {
    border: 1px solid $error-color;
  }

  &:invalid {
    border: 1px solid $error-color;
  }

  &::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #bfbfbf;
  }
}

.textarea {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  background: $background-color-base;
  border: 1px solid $border-color-base;
  border-radius: 4px;
  resize: none;
  height: 168px;

  &::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #bfbfbf;
  }
}

.error {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $error-color;
  margin-top: 2px;
}

@media screen and (max-width: 460px) {
  .modal {
    width: 100%;
  }
}
