@import './../../sass/fonts.scss';
@import './../../sass/constants.scss';

.header {
  background: $background-color-base;

  &__link {
    &:focus-visible {
      & > * {
        color: $brand-color;
      }
    }
  }

  &__title {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-text-m;
    line-height: $line-height-xl;
    color: $heading-color;
    margin: 0;
    transition: color 0.4s;

    &:hover {
      color: $brand-color;
    }
  }

  &__btn {
    margin-right: 19px;

    &:last-of-type {
      margin-right: 0;
    }

    &:focus-visible {
      text-decoration: underline;
    }
  }

  &__avatar {
    display: inline-block;
    margin-left: 13px;

    &:focus-visible {
      outline: auto;
      outline-color: black;
    }
  }

  &__profile {
    margin: 0 27px;
    display: flex;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__logout-icon {
    display: none;
  }

  &__create-post {
    &:focus-visible {
      text-decoration: underline;
    }

    &:active {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__username {
      display: none;
    }

    &__avatar {
      margin-left: 0;
    }

    &__logout-icon {
      display: block;
      cursor: pointer;
      font-size: $font-size-text-xl;
      transition: color 0.4s;

      &:hover {
        color: $brand-color;
      }
    }
  }

  .btn-logout {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__btn {
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__title {
      font-size: $font-size-text-s;
    }

    &__create-post {
      font-size: 0;
      padding: 0;
      height: 30px;
      width: 30px;
      text-align: center;

      &::before {
        content: '+';
        font-size: $font-size-text-l;
        line-height: $line-height-l;
      }
    }
  }
}
